
a {
	font-family: Merriweather; Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #F1F1F2;
}

h1 {
	font-family: Merriweather; Georgia, "Times New Roman",Times,serif;
	font-size: 20px;
	color: #F1F1F2;
}

a:link {
	text-decoration: none;
	color: #F1F1F2;
}

a:visited {
	text-decoration: none;
	color: #F1F1F2;
}

